* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(180deg, #121212, #000);
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-player {
    width: 360px;
    background: #181818;
    border-radius: 20px;
    padding: 25px;
    color: #fff;
    box-shadow: 0 20px 40px rgba(0,0,0,0.7);
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nav-btn {
    width: 36px;
    height: 36px;
    background: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.song-img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 10px 40px rgba(30, 215, 96, 0.4);
}

h1 {
    font-size: 20px;
    margin-bottom: 5px;
}

p {
    font-size: 14px;
    color: #b3b3b3;
}

#progress {
    width: 100%;
    margin: 20px 0;
    -webkit-appearance: none;
    height: 5px;
    background: #333;
    border-radius: 5px;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background: #1db954;
    border-radius: 50%;
    cursor: pointer;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#controls button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: #000;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

#playBtn {
    background: #1db954;
    color: black;
    transform: scale(1.3);
}



.time {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #b3b3b3;
    margin-top: -10px;
}
